* {
    font-family: Consolas;
    color: black;
}

body {
    margin: 0;
    background-color: #faf9f788;
}


/* Header css */
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    max-height: fit-content;
    background-color: #faf9f7;
    box-shadow: 0px 6px 20px rgba(186, 186, 186, 0.379);
    top: 0;
}

.logo {
    width: 5vw;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 4.5vw;
}

.navigation a {
    font-size: 1vw;
    font-weight: bold;
    text-decoration: none;
}

.navigation a:hover {
    color: #fcc741;
}

.resume {
    font-size: 1vw;
    font-weight: bold;
    background-color: #FFD364;
    padding: 1vw 2vw;
    border-style: hidden;
    border-radius: 5px;
}


/* Welcome section css */
#welcoming {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

#welcoming div {
    align-self: flex-end;
    padding-bottom: 10vw;
    width: 54vw;
}

.welcomeImg1 {
    width: 10vw;
    margin: 0vw 1vw;
}

.welcomeImg2 {
    width: 6vw;
    align-self: flex-start;
    padding-top: 10vw;
}

.welcomeImg3 {
    width: 6vw;
    align-self: flex-start;
    padding-top: 20vw;
}

.welcomeImg4 {
    width: 6vw;
    align-self: flex-start;
    padding-top: 14vw;
}

.welcomeImg5 {
    width: 5vw;
    align-self: flex-start;
    padding-top: 24vw;
}

/* The concept of the animation learned from : https://www.w3schools.com/css/css3_animations.asp */
#iconUp {
    animation: flowUp 5s ease-in-out 0s infinite;
}

#iconDown {
    animation: flowDown 5s ease-in-out 0s infinite;
}

@keyframes flowUp {
    0% {}

    50% {
        padding-top: 12vw;
    }

    100% {}
}

@keyframes flowDown {
    0% {}

    50% {
        padding-top: 22vw;
    }

    100% {}
}

.name {
    font-size: 3.75vw;
    font-weight: bold;
    margin: 1vw;
    background-color: #9FD25A;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: fit-content;
    /* The concept of steps() learned to add a typing anination, source from: https://www.w3schools.com/cssref/func_steps.php */
    animation: nameTyping 6s steps(25) 1;
}

@keyframes nameTyping {
    10% {
        width: 0;
    }

    90% {
        width: 95%;
    }

    100% {
        width: min-content;
    }
}

.specialist {
    font-size: 2.25vw;
    font-weight: bold;
    margin: 0vw 1vw;
    background-color: #FF6F5C;
    overflow: hidden;
    white-space: nowrap;
    width: fit-content;
    animation: specialistTyping 5s steps(20) 1;
}

@keyframes specialistTyping {
    10% {
        width: 0;
    }

    90% {
        width: 45%;
    }

    100% {
        width: min-content;
    }
}

.brief {
    font-size: 1.25vw;
    font-weight: bold;
    margin-left: 1vw;
}


/* About me section css */
#aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    background-color: #79746a21;
}

#aboutMe div {
    align-self: flex-start;
}

.educationImg {
    width: 6vw;
    align-self: flex-start;
    padding-top: 32vw;
    animation: educationFlow 5s ease-in-out 0s infinite;
}

@keyframes educationFlow {
    0% {}

    50% {
        padding-top: 30vw;
    }

    100% {}
}

.aboutMeImg {
    width: 6vw;
    margin: 6vw 1vw 1vw;
    transform: rotateY(0deg);
    transition-property: all;
    transition-duration: 2s;
}

.aboutMeImg:hover {
    transform: rotateY(180deg);
    transition-property: all;
    transition-duration: 2s;
}

.aboutMeTitle {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 0vw 1vw;
    width: fit-content;
}

.aboutMeDescription {
    font-size: 1.25vw;
    font-weight: bold;
    margin: 4vw 1vw;
    width: 70vw;
    text-align: justify;
}

.goalImg {
    width: 6vw;
    align-self: flex-start;
    padding-top: 40vw;
    animation: goalFlow 5s ease-in-out 0s infinite;
}

@keyframes goalFlow {
    0% {}

    50% {
        padding-top: 42vw;
    }

    100% {}
}

.aboutMeCertificates {
    margin: 4vw 1vw 1vw;
}

.certificatesGallary {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    padding: 1vw 0vw 0vw;
    margin-bottom: 1vw;
    width: 70vw;
    height: max-content;
    overflow: scroll hidden;
}

.certificateCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: fit-content;
    height: max-content;
    margin: 0vw 1vw 2vw;
    padding: 1vw 1vw;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(65, 58, 77, 0.537)
}

.certificateImg {
    width: fit-content;
    height: 15vw;
}

.certificateTitle {
    text-align: center;
    padding: 1vw 0vw 0vw;
    font-size: 1.25vw;
    font-weight: 600;
}

.certificateDate {
    font-size: 1vw;
    color: gray;
}


/* Skills section css */
#skills,
.skillsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
}

.skillsImg {
    width: 6vw;
    margin: 6vw 1vw 1vw;
    transform: rotateY(0deg);
    transition-property: all;
    transition-duration: 2s;
}

.skillsImg:hover {
    transform: rotateY(180deg);
    transition-property: all;
    transition-duration: 2s;
}

.skillsTitle {
    font-size: 2.5vw;
    font-weight: bold;
    margin: 0vw 1vw 4vw;
    width: fit-content;
}

.skillsRow {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: space-between;
    align-items: flex-end;
    width: 85%;
}

.skillCategory {
    font-size: 2vw;
    font-weight: 600;
}

.skillList {
    display: flex;
    margin-bottom: 6vw;
}

.skillList div {
    width: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1vw 4vw;
}

.skillList p {
    font-size: 1.15vw;
}

.iconSize {
    width: 4vw;
    animation: skillsFlow 1.75s ease-in-out infinite;
}

@keyframes skillsFlow {
    0% {}

    35% {
        margin-left: 0.5vw;
    }
    65% {
        margin-right: 0.5vw;
    }

    100% {}
}


/* Tools & Technologies section css */
#techStack,
.toolsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: max-content;
    margin: 0vw 0vw 5vw;
}

.toolsImg {
    width: 6vw;
    margin: 6vw 1vw 1vw;
    transform: rotateY(0deg);
    transition-property: all;
    transition-duration: 2s;
}

.toolsImg:hover {
    transform: rotateY(180deg);
    transition-property: all;
    transition-duration: 2s;
}

.toolsTitle {
    font-size: 2.5vw;
    font-weight: bold;
    margin: 0vw 1vw 4vw;
    width: fit-content;
}

.toolRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.toolList {
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
}

.toolList img {
    display: flex;
    margin: 1vw 5vw;
    animation: toolFlow 4s ease-in-out infinite;
}

@keyframes toolFlow {
    0% {}

    35% {
        margin-left: 5.25vw;
    }
    65% {
        margin-right: 4.25vw;
    }

    100% {}
}

.toolSize {
    width: 12vw;
    height: fit-content;
}


/* Projects section css */
#projects,
.projectsHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: max-content;
    background-color: #ae93e0;
    padding: 0vw 0vw 5vw;
}

.projectsImg {
    width: 6vw;
    margin: 6vw 1vw 1vw;
}

.projectsTitle {
    font-size: 2.5vw;
    font-weight: bold;
    margin: 0vw 1vw;
    width: fit-content;
}

.projectColumn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    flex-wrap: wrap;
    width: 90%;
    height: fit-content;
}

.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 25vw;
    height: fit-content;
    margin: 0vw 1vw 2vw;
    padding: 0vw 1vw;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(65, 58, 77, 0.537)
}

.projectImg {
    width: 10vw;
    height: fit-content;
}

.projectTitle {
    text-decoration: none;
    font-size: 2vw;
    font-weight: 600;
}

.projectTools {
    font-size: 1.15vw;
    color: gray;
}

.projectDescription {
    font-size: 1.25vw;
    font-weight: bold;
    width: auto;
    text-align: justify;
    word-wrap: break-word;
}


/* Footer section css */
#contacts {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: fit-content;
    background-color: #faf9f7;
}

.contactsHeader {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.contactsImg {
    width: 6vw;
    margin: 6vw 1vw 1vw;
}

.contactsTitle {
    font-size: 2.5vw;
    font-weight: bold;
    margin: 0vw 1vw;
    width: fit-content;
}

.socialAccounts a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 2vw 6vw;
    width: max-content;
    text-decoration: none;
}

.contactIcon {
    width: 4vw;
    padding: 0vw 1vw;
}