body {
    margin: 0;
    background-color: #faf9f788;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    max-height: fit-content;
    background-color: #faf9f7;
    box-shadow: 0px 6px 20px rgba(186, 186, 186, 0.379);
    top: 0;
}

.logo {
    width: 5vw;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 4vw;
}

.navigation a {
    font-family: Consolas;
    color: black;
    font-size: 1vw;
    font-weight: bold;
    text-decoration: none;
}

.resume {
    font-family: Consolas;
    font-size: 1vw;
    font-weight: bold;
    background-color: #FFD364;
    padding: 1vw 2vw;
    border-style: hidden;
    border-radius: 100px;
}
